@font-face {
    font-family: "Euclid";
    src: url(Fonts/Euclid\ Circular\ B\ Medium.ttf);
}
@font-face {
    font-family: "Minecraft";
    src: url(Fonts/Minecraft.ttf);
}

*{
    padding: 0px;
    margin: 0px;
    image-rendering: pixelated;
    text-rendering: optimizeSpeed;
}
.material-symbols-outlined:hover{
    color: red;
    cursor: pointer;
}
.material-symbols-outlined{
    color : white;
}
header{
    display: flex;
    background-color: #1D1D1D;
    justify-content: space-between;
    padding: 10px;
}
main{
    display: flex;
    background-image: url(imagens/Examples/hero-background-large.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    flex-direction: column;
    align-content: start;
    flex-wrap: wrap;
    justify-content: center;
}
#legend{
    overflow: hidden;
    transform: rotate(-90deg);
    position: fixed;
    top: 50vh;
    left: -100px;
    font-size: 1.5em;
    font-family: "minecraft";
}
#article1{
    background-repeat: no-repeat;
    background: url(GIFs/1.gif);
    background-size: cover;
    background-position: center center;
}
#article1 article{
    background-image: url(imagens/Uncensored\ gest\ transparent.png);
    height: fit-content;
    background-position: center center;
    background-attachment: fixed;
}
#article1 article p{
    width: 50%;
    font-size: 1.3em;
    font-family: "Euclid";
    padding: 50px;
}
strong{
    background-color: #E61444;
    color: white;
    pointer-events: none;
    user-select: none;
}
#article2{
    height: 100vh;
    background-image: url(GIFs/2.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
#article3{
    padding: 50px;
    background-image: url(GIFs/2.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}
main h1,h2, a{
    position: relative;
    display: flex;
    color: white;
    font-family: "Euclid";
}
#article3 p{
    color: white;
    margin-top: 10px;
}

main a{
    text-decoration: none;
    border: 2px solid white;
    width: fit-content;
}
main h1{
    font-size: 4em;
}
::-webkit-scrollbar{
    display: block;
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: #E61444;
    display: block;
}
::selection{
    background-color: #e614458e;
    background-blend-mode: difference;
}