@font-face {
    font-family: "Euclid";
    src: url(Fonts/Euclid\ Circular\ B\ Medium.ttf);
}
@font-face {
    font-family: "Minecraft";
    src: url(Fonts/Minecraft.ttf);
}

*{
    padding: 0px;
    margin: 0px;
    image-rendering: pixelated;
    text-rendering: optimizeLegibility;
}
.material-symbols-outlined:hover{
    color: red;
    cursor: pointer;
}
.material-symbols-outlined{
    color : white;
}
header{
    display: flex;
    background-color: #1D1D1D;
    justify-content: space-between;
    padding: 10px;
}
main{
    display: flex;
    background-image: url(imagens/Examples/hero-background-large.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    flex-direction: column;
    align-content: start;
    flex-wrap: wrap;
    justify-content: center;
}
main a{
    text-decoration: none;
    border: 2px solid white;
    width: fit-content;
}
main h1{
    font-size: 4em;
}
strong{
    background-color: #E61444;
    color: white;
    pointer-events: none;
    user-select: none;
}
#legend{
    overflow: hidden;
    rotate: -90deg;
    position: fixed;
    top: 50vh;
    left: -100px;
    font-size: 1.5em;
    font-family: "minecraft";
}
#article1{
    background-repeat: no-repeat;
    background: url(GIFs/1.gif);
    background-size: cover;
    background-position: center center;
}
#article1 article{
    background-image: url(imagens/Uncensored\ gest\ transparent.png);
    height: fit-content;
    background-position: center center;
    background-attachment: fixed;
}
#article1 article p{
    width: 50%;
    font-size: 1.3em;
    font-family: "Euclid";
    padding: 50px;
}

#article2{
    height: 100vh;
    background-image: url(GIFs/2.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
#article3{
    padding: 50px;
    background-image: url(GIFs/2.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

main h1,h2, a{
    position: relative;
    display: flex;
    color: white;
    font-family: "Euclid";
}
#article3 p, h2{
    color: white;
    width: 50%;
    margin-top: 10px;
}

#article4{
    height: fit-content;
    background-color: #F6F6F6;
    display: grid;
    padding: 60px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
}
#article4 h2{
    color: black;
    text-align: start;
}
#article4 img{
    position: relative;
    width: 200px;
    left: 50%;
}
#article4 img,h2{
    margin: 25px;
}
#article5{
    display: grid;
    background-color: black;
    height: 100vh;
    color: white;
    grid-template-columns: 1fr 1fr;
}
#article5 img{
    padding: 100px;
    transform: translate(-50%);
    position: relative;
    width: 500px;
    left: 50%;
}
#article5 div h1{
    padding: 100px;
    width: 50%;
    font-size: 2em;
}
#article5 span{
    font-size: 0.5em;
    color: white;
}
#article6{
    display: grid;
    background-image: url(GIFs/1.gif);
    background-size: contain;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#article6 img{
    width: 200px;
}
::-webkit-scrollbar{
    display: block;
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: #E61444;
    display: block;
}
::selection{
    background-color: #e614458e;
    background-blend-mode: difference;
}